<?xml version="1.0"?>

<launch>
  <!--node pkg="tf" type="static_transform_publisher" name="base_to_stereo" args="0.43 0 0.585 0 0 0 1 /base_link /zed_stereo 10" /-->
  
  <!-- Robot base control-->
  <!--node name="hellobot_base" pkg="HYJ_DiPan_Package" type="hellobot1.0_base_controller_odom_pub_uart_node.py" output="screen"-->
  <node name="hellobot_base" pkg="HYJ_DiPan_Package" type="dash_base_driver.py" output="screen">
  </node>
  
  <!--node pkg="tf" type="static_transform_publisher" name="base_link_to_lidar" args="0.2 0.0 0.0 0.0 0.0 0.0 base_link velodyne 100" /--> <!--rplidar 0.62 lslidar 0.53 new 0.15-->
  <!--node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args="0.0 0.0 -0.09 0.0 0.0 0.0 base_link base_footprint 100" /-->

  <!-- TwistStamped to Twist Converter-->
  <node name="twiststamped_to_twist" pkg="HYJ_DiPan_Package" type="hellobot1.0_twiststamped_to_twist.py" output="screen">
  </node>

  <!--Command Velocity-->
  <node pkg="topic_tools" type="relay" name="relay_cmd_vel" args="/cmd_vel /planner/cmd_vel"/>
  <node pkg="topic_tools" type="relay" name="relay_key_vel" args="/key_vel /planner/cmd_vel"/>

  <include file="/home/helloworld/HelloWorld_Robotics_Workspace/src/rplidar_ros/launch/rplidar.launch"/>

</launch>
